<center><font size=6 color="#00416d">Options and Settings in Pandas</font></center>

In [1]:
import pandas as pd
import numpy as np

### Changing pandas display option

In [6]:
data = np.random.randint(1, 100, [1000, 50])
pd.DataFrame(data)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,99,85,50,15,8,4,88,43,57,54,...,49,77,33,29,69,85,11,83,85,47
1,40,60,74,30,18,84,27,11,76,17,...,2,36,54,86,47,56,28,45,12,34
2,66,53,14,13,56,36,1,99,57,47,...,40,37,43,66,30,71,64,90,77,12
3,55,16,41,22,23,39,22,5,42,98,...,18,86,14,50,58,69,73,44,31,34
4,88,32,54,77,26,85,6,3,42,46,...,42,85,82,47,17,26,68,93,16,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,70,95,29,64,80,1,19,72,25,11,...,76,90,50,92,40,40,93,85,65,89
996,49,5,91,39,90,23,97,32,10,15,...,94,90,14,87,95,87,47,45,77,67
997,35,3,66,57,60,34,98,90,78,93,...,64,23,16,46,28,21,65,88,73,80
998,36,52,69,61,49,67,24,81,26,14,...,93,29,60,5,89,77,24,36,29,42
999,62,75,1,7,71,63,46,92,75,59,...,46,88,22,85,84,89,12,23,81,62

In [9]:
pd.options.display.max_rows

60

In [11]:
pd.options.display.max_rows = 6
pd.DataFrame(data)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,99,85,50,15,8,4,88,43,57,54,...,49,77,33,29,69,85,11,83,85,47
1,40,60,74,30,18,84,27,11,76,17,...,2,36,54,86,47,56,28,45,12,34
2,66,53,14,13,56,36,1,99,57,47,...,40,37,43,66,30,71,64,90,77,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,35,3,66,57,60,34,98,90,78,93,...,64,23,16,46,28,21,65,88,73,80
998,36,52,69,61,49,67,24,81,26,14,...,93,29,60,5,89,77,24,36,29,42
999,62,75,1,7,71,63,46,92,75,59,...,46,88,22,85,84,89,12,23,81,62

In [13]:
pd.options.display.max_columns = 6
pd.DataFrame(data)

     0   1   2   ...  47  48  49
0    99  85  50  ...  83  85  47
1    40  60  74  ...  45  12  34
2    66  53  14  ...  90  77  12
..   ..  ..  ..  ...  ..  ..  ..
997  35   3  66  ...  88  73  80
998  36  52  69  ...  36  29  42
999  62  75   1  ...  23  81  62

[1000 rows x 50 columns]

### Changing options using pandas_option

In [14]:
data = np.random.randint(1, 100, [1000, 50])
df = pd.DataFrame(data)
df

     0   1   2   ...  47  48  49
0    83  90  43  ...  87  22  89
1    97  65  34  ...  77  93  88
2    34  17  96  ...  28  18  64
..   ..  ..  ..  ...  ..  ..  ..
997  13  65  52  ...  65  38  88
998  85  20  82  ...  62  22  91
999  24  56  26  ...  36  63   9

[1000 rows x 50 columns]

In [23]:
# To get option
pd.get_option("display.max_rows")

6

In [24]:
pd.get_option("display.max_columns")

6

In [28]:
# To reset options
pd.reset_option("display.max_rows")
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,83,90,43,33,18,90,12,40,43,92,...,61,77,68,95,97,62,95,87,22,89
1,97,65,34,81,35,94,94,68,91,48,...,32,78,38,84,7,88,46,77,93,88
2,34,17,96,99,22,72,95,74,58,10,...,16,90,25,77,62,24,12,28,18,64
3,55,37,7,81,23,35,42,53,87,40,...,64,63,78,67,20,82,17,93,32,18
4,41,44,26,58,15,23,12,10,62,9,...,1,39,96,43,38,47,1,60,87,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,11,80,83,29,59,24,95,75,55,90,...,97,42,17,89,16,11,38,43,65,62
996,82,89,17,96,26,79,64,75,87,31,...,81,27,78,26,26,88,52,47,80,90
997,13,65,52,69,68,39,31,43,70,54,...,28,31,84,60,52,30,41,65,38,88
998,85,20,82,43,34,91,72,23,21,29,...,75,57,56,42,66,7,57,62,22,91
999,24,56,26,38,65,40,24,33,59,14,...,98,66,87,39,19,78,7,36,63,9

In [29]:
pd.reset_option("display.max_columns")
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,83,90,43,33,18,90,12,40,43,92,...,61,77,68,95,97,62,95,87,22,89
1,97,65,34,81,35,94,94,68,91,48,...,32,78,38,84,7,88,46,77,93,88
2,34,17,96,99,22,72,95,74,58,10,...,16,90,25,77,62,24,12,28,18,64
3,55,37,7,81,23,35,42,53,87,40,...,64,63,78,67,20,82,17,93,32,18
4,41,44,26,58,15,23,12,10,62,9,...,1,39,96,43,38,47,1,60,87,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,11,80,83,29,59,24,95,75,55,90,...,97,42,17,89,16,11,38,43,65,62
996,82,89,17,96,26,79,64,75,87,31,...,81,27,78,26,26,88,52,47,80,90
997,13,65,52,69,68,39,31,43,70,54,...,28,31,84,60,52,30,41,65,38,88
998,85,20,82,43,34,91,72,23,21,29,...,75,57,56,42,66,7,57,62,22,91
999,24,56,26,38,65,40,24,33,59,14,...,98,66,87,39,19,78,7,36,63,9

In [33]:
# To set new value to options
pd.set_option("display.max_columns", 6)
df

     0   1   2   ...  47  48  49
0    83  90  43  ...  87  22  89
1    97  65  34  ...  77  93  88
2    34  17  96  ...  28  18  64
3    55  37   7  ...  93  32  18
4    41  44  26  ...  60  87  48
..   ..  ..  ..  ...  ..  ..  ..
995  11  80  83  ...  43  65  62
996  82  89  17  ...  47  80  90
997  13  65  52  ...  65  38  88
998  85  20  82  ...  62  22  91
999  24  56  26  ...  36  63   9

[1000 rows x 50 columns]

In [34]:
pd.describe_option("max_columns")

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 6]
styler.render.max_columns : int, optional
    The maximum number of columns that will be rendered. May still be reduced to
    satsify ``max_elements``, which takes precedence.
    [default: None] [currently: None]

In [40]:
df = pd.DataFrame(np.random.randn(4, 4))
df

          0         1         2         3
0  0.536041  1.076150 -0.898701  0.327960
1  0.733766 -2.280010  0.793593  0.546010
2 -0.536343 -1.123622  0.264236  0.845903
3  0.019551  0.201483 -0.751208  1.486817

In [42]:
pd.set_option("display.precision", 2)
df

      0     1     2     3
0  0.54  1.08 -0.90  0.33
1  0.73 -2.28  0.79  0.55
2 -0.54 -1.12  0.26  0.85
3  0.02  0.20 -0.75  1.49